name: CI testing

on:
    pull_request:
      # branches:
      #   - main
    push:
      # branches:
      #   - main

jobs:
    testing:
      name: CI (Python=${{ matrix.python-version }}, OS=${{ matrix.os }})
      runs-on: ${{ matrix.os }}
      defaults:
        run:
          shell: bash -el {0}
      strategy:
        matrix:
          os: ["ubuntu-latest"]
          python-version: ["3.10"]

      steps:
        - name: checkout actions
          uses: actions/checkout@v4
        - uses: conda-incubator/setup-miniconda@v3
          with:
            auto-update-conda: true
            python-version: ${{ matrix.python-version }}
            channels: conda-forge

        - name: install dependencies
          run: conda install -c conda-forge openmc -y

        - name: install package
          run: |
            python -m pip install --upgrade pip
            python -m pip install .
            python -c 'import neutronics_material_maker'
            python -m pip install .[tests]

        - name: run pytest
          run: python -m pytest -v tests
